body {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1.02);
    width: 100vw;
    height: 100vh;
    background: url(bg.png) no-repeat;
    background-size: cover;
    z-index: -2;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: grid;
    place-content: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
    font-family: 'Open Sans';
}
.card-container {
    display: flex;
    justify-content: space-between;
}
.card {
    width: 300px;
    border: 1px solid #223E44;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}
.card h2 {
    font-size: 18px;
    margin-bottom: 5px;
}
.card p {
    font-size: 14px;
    margin-bottom: 10px;
}
.card a {
    display: block;
    padding: 10px;
    background-color: #223E44;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.home {
    color: #fff;
}
.home h1{
    color: #fff;
    text-decoration: underline;
}
.services-container {
    display: flex;
}

.service {
    width: 300px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    transition: transform 0.3s ease;
}

.service h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.service p {
    font-size: 14px;
    margin-bottom: 10px;
}

.service:hover {
    transform: rotate(5deg);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #223E44;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}
nav {
    background-color: rgb(126, 169, 176, 0.1); /* Couleur de fond avec une opacité de 0.8 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    flex: 1;
    text-align: center;
}
nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 20px;
}
nav ul li a:hover {
    background-color: rgb(126, 169, 176, 0.2);
    color: rgb(0, 0, 0); /* Couleur du lien lorsqu'on survole */
}